 body {
    background-image: url('https://raw.githubusercontent.com/luckynsh76/StoicCode/9b822192f4def1bf62d58beae3d6bccf85761c13/images/image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }
 .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0, 5);
   z-index: -1;
 }
.video-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px 0;
}
.video-container iframe {
   width: 100%;
   max-width: 560px;
   height: 315px;
}
nav ul li a {
   text-decoration: none;
   padding: 10px;
   background-color: #333;
   color: white;
   border-radius: 5px;
   margin: 5px
}

nav ul li a:hover {
   background-color:#555;
}